<%- include("partials/header")%>

<h2>
	Orders
</h2>


<% order.forEach(function(order){ %>
<div class="col-lg-4">
<div>
	Id: <%= order.id%>
</div>
<div>
	Date: <%= order.date.toDateString()%>
</div>
<div>
	<% if(typeof order.sales != "undefined"){ %>
		Sales ID: <%= order.sales.id%>
	<% } %>
	
	
</div>
<div>
	<% if(typeof order.customer != "undefined"){ %>
	Customer: <%= order.customer.id%>
	<% } %>
</div>
<div>
	Products:
	<% for(var i = 0; i < order.product.length; i++){ %>
	<div>
				<%= i+1 %>. <%= order.product[i]._id.name %>	
		 </div>
						<% } %>
</div>

<div>
	<a href="/orders/<%=order._id%>" class="btn btn-info">Read More</a>
</div>
	</div>

<% }) %>
<div>
	<a href="/orders/news" class="btn btn-success">Add Order</a>
</div>


<%- include("partials/footer")%>
