<%- include("../partials/header")%>

<h3>
	Sales Show Page
</h3>

<div class="thumbnail col-lg-3">
<div>
	<strong>Id: </strong><%= sales.id%>
</div>
<div>
	<strong>Name: </strong><%= sales.name%>
</div>
<div>
	<strong>Phone: </strong><%= sales.phone%>
</div>
<div>
	<strong>Email: </strong><%= sales.email%>
</div>
<div>
	<a href="/sales/<%= sales._id%>/edit" class="btn btn-warning">Edit</a>
</div>
</div>

<form method="POST" action="/sales/<%= sale._id%>?_method=DELETE">
		<button class="btn btn-danger">
			Delete
		</button>
	</form>

<%- include("../partials/footer")%>

